/* **********************Media Queries **********/

@media (min-width: 0) and (max-width: 481px) {
  header {
    height: 16vh;
  }

  main {
    .about-me-wrap {
      height: 85vh;
    }

    .about-me-image {
      margin-bottom: 2rem;
    }

    .about-me-image p {
      margin-bottom: 4rem;
    }

    .comments {
      margin-bottom: 4rem;
    }

    .contact-wrap {
      display: flex;
      flex-direction: column;
    }

    .contact-column-right img {
      width: 60%;
    }

    .hobby--1,
    .hobby--2,
    .hobby--3 {
      flex-direction: column;
    }
  }

  .footer-line-style:after {
    margin-right: 50px;
    left: 10px;
  }
}

/* Tablet -481px - 768px*/

@media (min-width: 481px) and (max-width: 768px) {
  main {
    margin-top: 8rem;

    .submit {
      margin-top: -3rem;
    }

    .hobby--1,
    .hobby--2,
    .hobby--3 {
      flex-direction: column;
    }
  }

  .section-line-style {
    height: 25vh;
  }
}

/* Desktop */

@media (min-width: 769px) {
  .section-line-style {
    height: 35vh;
    padding-top: 6rem;
  }
}

@media (min-width: 1490px) {
  .hobby-wrap {
    display: flex;
    @include grid-template();
    gap: 4rem;
  }
}
